body{
    background-color: lightpink;
}

h1{
    color: aqua;
    font-weight: bold;
    font-size: 50px;
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 5px goldenrod solid;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    font-size: 42px;
    padding: 10px;
    border: 5px olive solid;
    margin: auto;
    width: 500px;
}